<div fxLayout="row" fxLayoutAlign="center" class="cover-x">
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-chip-list #citiesChipList>
      <mat-chip
        *ngFor="let selectedCity of selectedCities$ | async"
        [selectable]="true"
        [removable]="true"
        (removed)="removeSelectedCity(selectedCity)"
      >
        {{ selectedCity }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #citiesInput
        matInput
        [matAutocomplete]="citiesAuto"
        [matChipInputFor]="citiesChipList"
        [formControl]="cityCtrl"
      />
    </mat-chip-list>
    <mat-autocomplete
      #citiesAuto="matAutocomplete"
      (optionSelected)="selectCity($event)"
    >
      <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">
        <span>{{ city }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
